3회 기출유형 작업형1-1
출처: https://github.com/lovedlim/BigDataCertificationCourses/

Q. 2022년 데이터 중 2022년 중앙값보다 큰 값의 데이터 수

In [2]:
import pandas as pd
df = pd.read_csv("./t1-data2.csv", index_col='year')
df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
year,,,,,,,,,,,,,,,,,,,,,
2022년,69,37,57,70,40,75,8,67,89,91,...,79,56,98,21,14,25,17,10,60,17
2023년,52,13,22,70,92,80,8,56,17,96,...,62,47,59,6,25,96,69,87,28,64
2024년,88,44,32,55,64,8,4,2,62,44,...,98,95,40,59,69,71,86,53,93,64
2025년,80,97,15,4,74,12,100,60,47,47,...,30,11,2,54,9,52,51,81,78,22
2026년,64,66,62,56,67,80,90,24,58,78,...,93,15,88,67,7,82,5,61,15,63

In [3]:
m = df.loc["2022년"].median()
print(sum(df.loc["2022년",:] > m))

50

3회 기출유형 작업형1-2

Q. 결측치 데이터(행)을 제거하고, 앞에서부터 60% 데이터만 활용해, 'f1' 컬럼 3사분위 값을 구하시오
60%가 소수점일 경우 절사(예: 36.6 일때 36으로 계산)
data: t1-data1.csv

In [6]:
import pandas as pd
df = pd.read_csv("./t1-data1.csv")
df.head()

     id   age city    f1  f2    f4         f5
0  id01   2.0   서울   NaN   0  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  INFP  52.667078
4  id05  24.0   서울  85.0   2  ISFJ  29.269869

In [8]:
df = df.dropna()
df = df.iloc[:int(len(df)*0.6)]
print(df['f1'].quantile(.75))

77.25

3회 기출유형 작업형1-3
Q. 결측치가 제일 큰 값의 컬럼명을 구하시오
data: t1-data1.csv

In [9]:
import pandas as pd
df = pd.read_csv("./t1-data1.csv")
df.head()

     id   age city    f1  f2    f4         f5
0  id01   2.0   서울   NaN   0  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  INFP  52.667078
4  id05  24.0   서울  85.0   2  ISFJ  29.269869

In [12]:
# 풀이 방식 1)
df = pd.read_csv("./t1-data1.csv")
df = pd.DataFrame(df.isnull().sum(), columns=['cnt_null'])
df = df['cnt_null'].sort_values(ascending=False)
print(df.index[0])

f1

In [13]:
# 풀이 방식 2) 
df = pd.read_csv("./t1-data1.csv")
df = df.isnull().sum()
print(df.index[3])

f1