In [2]:
import pandas as pd
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [3]:
url='https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv'
df=pd.read_csv(url)
type(df)

pandas.core.frame.DataFrame

In [16]:
df.head()

,Unnamed: 0,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2,ratio,ratio2
0,0,[Ïã†Î≥ë] Î¨ºÏûêÏ∞ΩÍ≥†,Ïû•ÏÇêÏ≠à,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01,0.004539,0.019085
1,1,RAIN(ÎπÑ) - ÎÇòÎ°ú Î∞îÍæ∏Ïûê Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01,0.007739,NaN
2,2,2020ÎÖÑ Ï†úÏïºÏùò Ï¢Ö Ïò®ÎùºÏù∏ ÌÉÄÏ¢ÖÌñâÏÇ¨ | Î≥¥Ïã†Í∞Å ÌòÑÏû• ÌñâÏÇ¨Îäî ÏßÑÌñâÌïòÏßÄ ÏïäÏäµÎãàÎã§.,ÏÑúÏö∏Ïãú ¬∑ Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01,0.000513,0.033670
3,3,Í≥†Í∏∞ÎÇ®ÏûêÏùò Ïπ†Î©¥Ï°∞ ÌååÌã∞,Í≥†Í∏∞ÎÇ®Ïûê MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01,0.006566,0.018215
4,4,Í≥®Î™© 3mcÎ•º Î∂ÑÎÖ∏ÌïòÍ≤å ÎßåÎì† ÎßàÏùåÍ≥†ÏÉùÏù¥ Ïã¨ÌñàÏùÑ Í≥µÎ¶â Î∞±Î∞òÏßë ÏÇ¨Ïû•ÎãòÏùò Ìë∏ÎÖê?! [ÏòàÎä•...,Ïä§Î∏åÏä§Î∞•Ïßë,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01,0.006349,0.028331

In [6]:
list(df.loc[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique())

['Ïû•ÏÇêÏ≠à',
 'Ï¥ùÎ™áÎ™Ö',
 'ÌååÎøåÎ¶¨',
 'Ïß§Ìà∞',
 'Îü∞ÎãùÎß® - Ïä§Î∏åÏä§ Í≥µÏãù Ï±ÑÎÑê',
 'Ïó†ÎöúÎ£®ÎßàÎöúÎ£® : MBC Í≥µÏãù Ï¢ÖÌï© Ï±ÑÎÑê',
 'SPOTV',
 'Ï±ÑÎÑê Ïã≠Ïò§Ïïº',
 'Ïù¥Í≥ºÏû•',
 'BANGTANTV']

In [26]:
list(df.channelTitle.value_counts().head(10).index)

['Ïß§Ìà∞',
 'ÌååÎøåÎ¶¨',
 'SPOTV',
 'Îü∞ÎãùÎß® - Ïä§Î∏åÏä§ Í≥µÏãù Ï±ÑÎÑê',
 'Ïó†ÎöúÎ£®ÎßàÎöúÎ£® : MBC Í≥µÏãù Ï¢ÖÌï© Ï±ÑÎÑê',
 'Ïû•ÏÇêÏ≠à',
 'BANGTANTV',
 'Ï±ÑÎÑê Ïã≠Ïò§Ïïº',
 'Ïù¥Í≥ºÏû•',
 'Ï¥ùÎ™áÎ™Ö']

In [8]:
list(df.loc[df.dislikes>df.likes].channelTitle.unique())

['Ìï´ÎèÑÍ∑∏TV',
 'ASMR Ïï†Ï†ïTV',
 'ÌïòÏñÄÌä∏Î¶¨HayanTree',
 'ÏñëÌå° YangPang',
 'Ï≤†Íµ¨Ìòï (CHULTUBE)',
 'ÏôúÎÉêÎß®ÌïòÏö∞Ïä§',
 '(MUTUBE)ÏôÄÍæ∏ÎåÄÏû•Î¥âÏ§Ä',
 'Ïò§Î©îÌÇ¥TV',
 'Ïú°ÏßÄÎã¥',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 'ÏÇ¨ÎÇòÏù¥ ÍπÄÍ∏∞Ìõà',
 'ÎÇòÌòºÏûêÏÇ∞Îã§ STUDIO',
 'Gen.G esports']

In [13]:
(df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()>1).sum()

71

In [4]:
df.trending_date2=pd.to_datetime(df.trending_date2)

In [25]:
df.loc[df.trending_date2.dt.day_name()=='Sunday'].categoryId.value_counts().index[0]

24

In [40]:
df.groupby(['categoryId',df.trending_date2.dt.day_name()],as_index=False).size().pivot(index='categoryId', columns='trending_date2')

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

In [5]:
df['ratio']=(df.comment_count/df.view_count)
df.loc[(df.view_count!=0) & (df.ratio>0)].sort_values(by='ratio', ascending=False).iloc[0].title

'60Î∂Ñ ÎèôÏïà ÎåìÍ∏ÄÏù¥ Îã¨Î¶¨ÏßÄ ÏïäÏúºÎ©¥, ÏòÅÏÉÅÏù¥ ÏÇ≠Ï†úÎê©ÎãàÎã§. (Ï±åÎ¶∞ÏßÄ)'

In [6]:
df['ratio']=(df.comment_count/df.view_count)
df.loc[(df.view_count!=0) & (df.ratio>0)].sort_values(by='ratio', ascending=True).iloc[0].title

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

In [7]:
df['ratio2']=(df.dislikes/df.likes)
df.loc[(df.dislikes!=0)&(df.likes!=0)].sort_values(by='ratio2').iloc[0].title

'[Ï§åÌÑ∞Î∑∞] *ÏµúÏ¥àÍ≥µÍ∞ú* ÏÇ¨Î∂ÄÏûëÏ¶àüê∞üê∂Ïùò ÎπÑÍ≥µÏãù Ïù¥Î¶ÑÏùÄ ÏïÑÏù¥ÎùºÏù∏Ï¶à? ÍøÄÏ°∞Ìï© Ìã∞ÌÇ§ÌÉÄÏπ¥ Í∞ÄÎìùÌïú NCT 127 ÎèÑÏòÅ&Ï†ïÏö∞Ïùò Ï§åÌÑ∞Î∑∞'

In [8]:
print(df.loc[df.channelId==df.channelId.value_counts().index[0]].channelTitle.unique())

['Ïß§Ìà∞']

In [9]:
(df[['title','channelId']].value_counts()>=20)

title                                                           channelId
ÏªµÎùºÎ©¥ Î®πÏùÑ Îïå Ï†àÎåÄ ÏùºÏñ¥ÎÇ†Î¶¨ ÏóÜÎäî ÏÉÅÌô©Îì§ „Öã„Öã„Öã                                     UCmzMtXrJgfCqA0rfhz8_P4A     True
ÎåÄÌïúÎØºÍµ≠ VS Ìà¨Î•¥ÌÅ¨Î©îÎãàÏä§ÌÉÑ : FIFA Ïπ¥ÌÉÄÎ•¥ ÏõîÎìúÏªµ 2Ï∞® ÏòàÏÑ† ÌïòÏù¥ÎùºÏù¥Ìä∏ - 2021.06.05         UCpjOmwiy88a9EV3Rv8ukJgw     True
Í∑πÍ≥º Í∑πÏùÑ ÏÇ¥Í≥† ÏûàÎäî Ïù∏ÎèÑÏùò Í∞ëÎ∂ÄÏôÄ ÎπàÍ≥§Ï∏µÎì§!                                       UCi9Sl8GnFdYoqEVXnojBPJw     True
2Ï£ºÎçîÎÜÄÎ¶¥ÏòàÏ†ï                                                         UCaKod3X1Tn4c7Ci0iUKcvzQ     True
ÎåÄÎ∞ï... Î©ßÎèºÏßÄÎ•º ÏïÑÎì§Î°ú ÏÇºÏùÄ Ìï†ÏïÑÎ≤ÑÏßÄÔΩúKBS Ï£ºÏ£ºÌÅ¥ÎüΩ 050410 Î∞©ÏÜ°                       UCAhKKbDO9-ymWZ_7iAFLBQQ     True
                                                                                            ...
Ï≤úÏû¨ ÏπúÍµ¨ Ìô©Î¥âÌô© [Ï¥ùÎ™áÎ™Ö Ïä§ÌÜ†Î¶¨2]                                            UCRuSxVu4iqTK5kCh90ntAgA    False
Îã¥Î∞∞Ï∂© [Î≥ëÎßõÎçîÎπô/ÏõÉÍ∏¥ÏòÅÏÉÅ]                                                 UCUK4YjvUvHrFQwTFXwkUIng    False
Official Trailer | The Falcon and The Winter Soldier | Disney+  UCvC4D8onUfXzvjTOM-dBfEA    False
[ÏõîÎìúÏªµÏµúÏ¢ÖÏòàÏÑ†] Ïò§Îßå VS Î≤†Ìä∏ÎÇ® 4Ï∞®Ï†Ñ H/L„Ö£AFC ÏïÑÏãúÏïÑÏßÄÏó≠ ÏõîÎìúÏªµ ÏµúÏ¢ÖÏòàÏÑ†                  UCtybqqaTj6Nx74Azdz1KrsA    False
ÍπêÎ∂ÄÎÅºÎ¶¨Îäî ÎãàÍ∫º ÎÇ¥Í∫ºÍ∞Ä ÏóÜÎäîÍ±∞Ïïº                                               UCu9BCtGIEr73LXZsKmoujKw    False
Length: 7867, dtype: bool