In [1]:
import pandas as pd

In [7]:
url='https://raw.githubusercontent.com/Datamanim/pandas/main/under5MortalityRate.csv'
df=pd.read_csv(url)
type(df)

pandas.core.frame.DataFrame

In [8]:
df.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Both sexes,60.27 [47.44-74.62]
1,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Male,63.83 [50.04-79.16]
2,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Female,56.57 [44.54-70.18]
3,Afghanistan,2018,Under-five mortality rate (probability of dyin...,Both sexes,62.54 [50.64-75.41]
4,Afghanistan,2018,Under-five mortality rate (probability of dyin...,Male,66.08 [53.41-79.76]

In [10]:
df.drop('Indicator', axis=1, inplace=True)
df['First Tooltip']=df['First Tooltip'].map(lambda x: float(x.split("[")[0]))
df.head()

      Location  Period        Dim1  First Tooltip
0  Afghanistan    2019  Both sexes          60.27
1  Afghanistan    2019        Male          63.83
2  Afghanistan    2019      Female          56.57
3  Afghanistan    2018  Both sexes          62.54
4  Afghanistan    2018        Male          66.08

In [11]:
df.loc[(df.Period>=2015)&(df.Dim1=='Both sexes')]

          Location  Period        Dim1  First Tooltip
0      Afghanistan    2019  Both sexes          60.27
3      Afghanistan    2018  Both sexes          62.54
6      Afghanistan    2017  Both sexes          64.94
9      Afghanistan    2016  Both sexes          67.57
12     Afghanistan    2015  Both sexes          70.44
...            ...     ...         ...            ...
29943  Timor-Leste    2019  Both sexes          44.22
29946  Timor-Leste    2018  Both sexes          45.62
29949  Timor-Leste    2017  Both sexes          47.27
29952  Timor-Leste    2016  Both sexes          49.01
29955  Timor-Leste    2015  Both sexes          50.76

[860 rows x 4 columns]

In [13]:
df.loc[(df.Period>=2015)&(df.Dim1=='Both sexes')].pivot(index='Location', columns='Period', values='First Tooltip')

Period                                      2015   2016   2017   2018   2019
Location
Afghanistan                                70.44  67.57  64.94  62.54  60.27
Albania                                     9.57   9.42   9.42   9.53   9.68
Algeria                                    25.18  24.79  24.32  23.81  23.26
Andorra                                     3.53   3.37   3.22   3.09   2.97
Angola                                     88.20  84.21  80.62  77.67  74.69
...                                          ...    ...    ...    ...    ...
Syrian Arab Republic                       23.18  23.27  22.97  22.11  21.53
Tajikistan                                 37.75  36.82  35.81  34.80  33.78
Thailand                                   10.80  10.32   9.86   9.42   9.01
The former Yugoslav Republic of Macedonia  12.97  11.97   9.94   7.83   6.12
Timor-Leste                                50.76  49.01  47.27  45.62  44.22

[172 rows x 5 columns]

In [22]:
df.pivot_table(index='Dim1', columns='Period', values='First Tooltip', aggfunc='mean').iloc[:,:4]

Period            1950        1951        1952        1953
Dim1
Both sexes  147.700816  155.537544  157.811094  156.147206
Female      140.909796  149.210175  151.516094  150.250882
Male        154.151224  161.538246  163.760781  161.742059