In [1]:
import pandas as pd
import numpy as np
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

[[[ nba 선수 능력치 데이터 ]]]

In [58]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv', encoding='latin', sep=';')
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,...,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,...,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

-- Tm 컬럼은 각 팀의 이름을 의미한다. TOR팀의 평균나이를 소수 4째 자리까지 구하여라.

In [59]:
result = df.loc[df['Tm']=='TOR'].Age.mean().round(4)
result2 = round(df.loc[df.Tm=="TOR"].Age.mean(),4)
print(result)
print(result2)

24.8696
24.8696

-- Pos 컬럼은 포지션을 의미한다. 전체 선수 중 최소나이대의 선수들을 필터하고 그들 중 가장 많은 포지션은 무엇인지 확인하라.

In [33]:
result = df.loc[df.Age==df.Age.min()].Pos.value_counts().index[0]
print(result)

SG

-- 선수들의 이름은 first_name + 공백 + last_name으로 이루어져 있다. 가장 많은 first_name은 무엇이며 몇 회 발생하는지 확인하라.

In [46]:
first_name = df.Player.str.split().str[0].str.lower().value_counts().head(1)
print(first_name)

Player
justin    14
Name: count, dtype: int64

-- PTS컬럼은 경기당 평균득점수 이다. 각 포지션별로 경기당 평균득점수의 평균을 구하여라.

In [53]:
result = df.groupby('Pos').PTS.mean().sort_values()
print(result)

Pos
SF        7.270253
SG-SF     7.360000
C         7.690769
PF        7.737500
SG        7.810553
PG        8.325161
PF-SF     8.500000
SF-SG     8.660000
SG-PG     9.525000
C-PF     12.850000
PG-SG    22.000000
Name: PTS, dtype: float64

-- G컬럼은 참여한 경기의 숫자이다. 각 팀별로 가장 높은 경기참여 수를 가진 선수들의 경기 참여 숫자의 평균을 구하여라.

In [61]:
result = df.sort_values(['Tm','G'], ascending=False).groupby('Tm').head(1).G.mean()
print(result)

77.51612903225806

-- TM 의 값이 MIA 이며 Pos 는 C 또는 PF 인 선수의 MP 값의 평균은?

In [65]:
result = df.loc[(df['Tm']=='MIA') & ((df['Pos']=='C')|(df['Pos']=='PF'))].MP.mean()
result2 = df.loc[(df.Tm=='MIA')&(df.Pos.isin(['C','PF']))].MP.mean()
print(result)
print(result2)

16.7875
16.7875

-- 전체 데이터중 G의 평균값의 1.5배 이상인 데이터들만 추출했을때 3P값의 평균은?

In [71]:
result = df.loc[df.G >= df.G.mean()*1.5]['3P'].mean()
print(result)

1.3853658536585365

-- Age의 평균 이상인 그룹과 평균 미만인 그룹간의 G값의 평균의 차이는?

In [72]:
result = df.loc[df.Age >= df.Age.mean()].G.mean() - df.loc[df.Age < df.Age.mean()].G.mean()
print(result)

3.787674551781862

-- 평균 나이가 가장 젊은 팀은 어디인가?

In [77]:
result = df.groupby('Tm').Age.mean().sort_values().index[0]
print(result)

MEM

-- Pos 그룹별 평균 MP 값을 구하여라

In [78]:
result = df.groupby('Pos').MP.mean()
print(result)

Pos
C        16.990000
C-PF     25.350000
PF       17.937500
PF-SF    27.300000
PG       19.547742
PG-SG    37.200000
SF       17.514557
SF-SG    20.340000
SG       18.554271
SG-PG    22.950000
SG-SF    19.620000
Name: MP, dtype: float64

[[[ 넷플릭스 주식 데이터 ]]]

In [15]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/nflx/NFLX.csv')
df.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2002-05-23  1.156429  1.242857  1.145714  1.196429   1.196429  104790000
1  2002-05-24  1.214286  1.225000  1.197143  1.210000   1.210000   11104800
2  2002-05-28  1.213571  1.232143  1.157143  1.157143   1.157143    6609400
3  2002-05-29  1.164286  1.164286  1.085714  1.103571   1.103571    6757800
4  2002-05-30  1.107857  1.107857  1.071429  1.071429   1.071429   10154200

-- 매년 5월달의 open 가격의 평균값을 데이터 프레임으로 표현하라

In [39]:
df.Date = pd.to_datetime(df.Date)
target = df.groupby(df.Date.dt.strftime('%Y-%m')).mean()
result = target.loc[target.index.str.contains('-05')].Open
print(result)

Date
2002-05      1.155833
2003-05      1.641497
2004-05      4.261143
2005-05      1.951905
2006-05      4.163571
2007-05      3.159351
2008-05      4.435034
2009-05      5.790571
2010-05     14.417071
2011-05     34.650272
2012-05     10.523247
2013-05     31.936429
2014-05     51.121292
2015-05     85.057429
2016-05     92.705715
2017-05    158.255455
2018-05    329.779541
2019-05    359.664548
2020-05    433.880499
2021-05    496.923996
Name: Open, dtype: float64

[[[ 당뇨 여부 판단 데이터 ]]]

In [40]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/train.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3,102,74,0,0,29.5,0.121,32,0
1,2,144,58,33,135,31.6,0.422,25,1
2,5,136,82,0,0,0.0,0.640,69,0
3,13,145,82,19,110,22.2,0.245,57,0
4,1,117,60,23,106,33.8,0.466,27,0

-- Outcome 값에 따른 각 그룹의 각 컬럼의 평균 차이를 구하여라

In [49]:
result = df.loc[df.Outcome==1].mean() - df.loc[df.Outcome==0].mean()
result2 = df.groupby('Outcome').mean().diff().iloc[1,:]
print(result)
print(result2)

Pregnancies                  1.574159
Glucose                     29.943995
BloodPressure                3.202079
SkinThickness                2.952033
Insulin                     33.398645
BMI                          4.541437
DiabetesPedigreeFunction     0.143646
Age                          5.866939
Outcome                      1.000000
dtype: float64
Pregnancies                  1.574159
Glucose                     29.943995
BloodPressure                3.202079
SkinThickness                2.952033
Insulin                     33.398645
BMI                          4.541437
DiabetesPedigreeFunction     0.143646
Age                          5.866939
Name: 1, dtype: float64

[[[ 현대 차량 가격 분류문제 데이터 ]]]

In [50]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv")
df.head()

,model,year,price,transmission,mileage,fuelType,tax(£),mpg,engineSize
0,Tucson,2016,12795,Manual,36263,Diesel,30,61.7,1.7
1,I10,2012,3995,Manual,22089,Petrol,20,61.4,1.2
2,I30,2019,24000,Manual,555,Petrol,145,34.0,2.0
3,Tucson,2017,12995,Manual,32147,Diesel,30,61.7,1.7
4,Tucson,2018,14991,Semi-Auto,32217,Diesel,150,57.6,1.7

-- 정보(row수)가 가장 많은 상위 3차종의 price값의 각 평균값은?

In [80]:
result = df.loc[df.model.isin(df.model.value_counts().index[:3])].groupby('model').price.mean().to_frame()
print(result)

                price
model
 I10      7646.137891
 I30     11651.821759
 Tucson  15805.441373

[[[ 센서데이터 동작유형 분류 데이터 ]]]

In [81]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/train.csv")
df.head()

,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,motion_9,...,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63,pose
0,-6.0,8.0,5.0,6.0,-12.0,-27.0,5.0,24.0,-8.0,-5.0,...,-1.0,-3.0,-6.0,-9.0,-7.0,36.0,68.0,3.0,-3.0,1
1,-32.0,-3.0,-4.0,-5.0,-1.0,16.0,0.0,-5.0,42.0,2.0,...,-17.0,-12.0,-1.0,-1.0,0.0,-26.0,-11.0,-4.0,-9.0,1
2,35.0,-2.0,-1.0,1.0,-25.0,-16.0,-3.0,-20.0,10.0,1.0,...,6.0,-65.0,6.0,-10.0,-31.0,-19.0,-3.0,-47.0,-17.0,0
3,-15.0,-6.0,-3.0,-5.0,27.0,37.0,-2.0,-2.0,19.0,5.0,...,2.0,11.0,0.0,-2.0,-4.0,-7.0,15.0,3.0,14.0,1
4,60.0,3.0,0.0,-7.0,-6.0,-10.0,-6.0,7.0,-11.0,-4.0,...,-12.0,17.0,-3.0,1.0,2.0,-2.0,20.0,18.0,10.0,0

★★★★★★-- pose값에 따른 motion 컬럼의 중간값의 가장 큰 차이를 보이는 motion 컬럼은 어디이며 그값은?

In [138]:
t = df.groupby('pose').median().diff().iloc[1,:].sort_values(ascending=False).reset_index()
result = t.loc[t[1] == t[1].max()].values
result

array([['motion_62', 4.0],
       ['motion_54', 4.0]], dtype=object)

In [134]:
t = df.groupby('pose').median().T
dfs = abs(t[0] - t[1]).sort_values().reset_index()
dfs[dfs[0] == dfs[0].max()].values

array([['motion_54', 4.0],
       ['motion_62', 4.0]], dtype=object)

[[[ 약물 분류 데이터 ]]]

In [139]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv")
df.head()

   Age Sex      BP Cholesterol  Na_to_K  Drug
0   20   F  NORMAL      NORMAL    9.281     4
1   24   M    HIGH      NORMAL    9.475     1
2   34   M  NORMAL        HIGH   22.456     0
3   17   M  NORMAL      NORMAL   10.832     4
4   72   M     LOW        HIGH   16.310     0

★★★★★-- 남성들의 연령대별 (10살씩 구분 0~9세 10~19세 ...) Na_to_K값의 평균값을 구해서 데이터 프레임으로 표현하여라

In [153]:
df2 = df.loc[df.Sex == 'M']
result = df.groupby(df2.Age//10*10).Na_to_K.mean().to_frame()
result

        Na_to_K
Age
10.0  13.627000
20.0  18.260769
30.0  15.244143
40.0  13.897273
50.0  14.811273
60.0  14.284308
70.0  11.363857

[[[ 레드 와인 퀄리티 예측 데이터 ]]]

In [155]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv")
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6
1,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
2,7.1,0.36,0.30,1.6,0.080,35.0,70.0,0.99693,3.44,0.50,9.4,5
3,7.6,0.29,0.49,2.7,0.092,25.0,60.0,0.99710,3.31,0.61,10.1,6
4,7.7,0.51,0.28,2.1,0.087,23.0,54.0,0.99800,3.42,0.74,9.2,5

★★★★★-- quality 값이 3인 그룹과 8인 데이터그룹의 각 컬럼별 독립변수의 표준편차 값의 차이를 구할때 그랎이 가장 큰 컬럼명을 구하여라.

In [181]:
df2 = abs(df.loc[df.quality==3].std() - df.loc[df.quality==8].std()).sort_values(ascending=False).index[0]
df2

'total sulfur dioxide'

[[[ 대학원 입학 가능성 데이터 ]]]

In [183]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv")
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,246,328,110,4,4.0,2.5,9.02,1,0.81
1,100,323,113,3,4.0,4.0,8.88,1,0.79
2,79,296,95,2,3.0,2.0,7.54,1,0.44
3,53,334,116,4,4.0,3.0,8.00,1,0.78
4,444,321,114,5,4.5,4.5,9.16,1,0.87

★★★★★★★★★★-- Serial No. 컬럼을 제외하고 'Chance to Admit'을 종속변수, 나머지 변수를 독립변수라 할때, 랜덤포레스트를 통해 회귀 예측을 할 때 변수 중요도 값을 출력하라 (시드값에 따라 순서는 달라질 수 있음)

In [210]:
from sklearn.ensemble import RandomForestRegressor

df_t = df.drop([df.columns[0]], axis=1)
x = df_t.drop([df.columns[-1]], axis=1)
y = df_t[df.columns[-1]]

ml = RandomForestRegressor()

ml.fit(x,y)
result = pd.DataFrame({'importance':ml.feature_importances_}, x.columns).sort_values('importance', ascending=False)
print(result)

                   importance
CGPA                 0.797269
GRE Score            0.100835
TOEFL Score          0.032305
SOP                  0.024763
LOR                  0.023341
University Rating    0.013550
Research             0.007936

[[[ 킹카운티 주거지 가격예측문제 데이터 ]]]

In [2]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice//train.csv")
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,8961990160,20150413T000000,567500.0,3,2.5,2080,4556,2.0,0,0,...,8,2080,0,1999,0,98074,47.6036,-122.014,1530,5606
1,9455200205,20140604T000000,525000.0,3,2.0,1540,7800,1.0,0,0,...,8,1540,0,2004,0,98125,47.7041,-122.288,1510,7800
2,7853220670,20140918T000000,540000.0,3,2.5,2860,8935,2.0,0,0,...,8,2860,0,2004,0,98065,47.5336,-121.855,2650,6167
3,3298201170,20141110T000000,350000.0,3,1.0,940,7811,1.0,0,0,...,6,940,0,1959,0,98008,47.6195,-122.118,1180,7490
4,7972604355,20140521T000000,218000.0,3,1.0,1020,7874,1.0,0,0,...,7,1020,0,1956,0,98106,47.5175,-122.346,1290,7320

-- bedrooms 의 빈도가 가장 높은 값을 가지는 데이터들의 price 의 상위 10%와 하위 10%값의 차이를 구하여라.

In [13]:
t = df.loc[df.bathrooms == df.bathrooms.value_counts().index[0]]
answer = t.price.quantile(0.9) - t.price.quantile(0.1)
print(answer)

554500.0

[[[ 의료 비용 예측 데이터 ]]]

In [21]:
import pandas as pd
train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv")
train.head()

   age     sex     bmi  children smoker     region      charges
0   64  female  39.330         0     no  northeast  14901.51670
1   47  female  27.830         0    yes  southeast  23065.42070
2   52  female  33.300         2     no  southwest  10806.83900
3   33  female  22.135         1     no  northeast   5354.07465
4   30    male  31.400         1     no  southwest   3659.34600

★★★★★-- 흡연자와 비흡연자 각각 charges 의 상위 10% 그룹의 평균의 차이는?

In [40]:
smoke_yes = train.loc[train.smoker == 'yes'].charges.quantile(0.9)
smoke_no = train.loc[train.smoker == 'no'].charges.quantile(0.9)

mean_yes = train.loc[(train.smoker == 'yes') & (train.charges >= smoke_yes)].charges.mean()
mean_no = train.loc[(train.smoker == 'no') & (train.charges >= smoke_no)].charges.mean()

result = mean_yes - mean_no
print(result)

29297.954548156144

[[[ 수질 음용성 여부 데이터 ]]]

In [41]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv")
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.918150,214.186611,23823.492888,7.290878,341.173322,411.424483,19.585002,25.057375,4.028958,0
1,5.422446,205.266080,18542.957451,5.491963,306.702227,382.080129,10.504023,67.493450,2.911751,1
2,7.341547,187.672402,21273.457066,7.784003,NaN,332.084293,16.842334,55.019151,4.025644,0
3,9.056245,197.666301,17403.532167,7.688917,337.460176,414.766631,15.349869,63.696746,3.319354,0
4,5.039374,142.860598,40829.353167,7.271543,NaN,386.803057,16.823773,52.297113,4.957420,0

★★★★★-- ph값은 상당히 많은 결측치를 포함한다. 결측치를 제외한 나머지 데이터들 중 사분위값 기준 하위 25%의 값들의 평균값은?

In [48]:
t = df.ph.dropna()
result = t.loc[t <= t.quantile(0.25)].mean()
print(result)

5.057093462441731

[[[ 비행탑승 경험 만족도 데이터 ]]]

In [49]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv")
df.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,55882,Male,Loyal Customer,42,Business travel,Business,473,1,1,3,...,5,5,5,5,3,5,3,3,0.0,satisfied
1,31906,Female,Loyal Customer,31,Business travel,Business,3271,4,4,4,...,3,3,5,5,3,4,3,1,5.0,satisfied
2,85481,Male,Loyal Customer,51,Personal Travel,Eco,214,5,0,5,...,3,4,4,4,4,4,3,2,0.0,satisfied
3,102134,Male,Loyal Customer,44,Business travel,Business,3097,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
4,31580,Male,Loyal Customer,33,Business travel,Business,3286,1,1,1,...,4,2,5,2,5,1,4,0,0.0,satisfied

★★★★★★★★★★-- Arrival Delay in Minutes 컬럼이 결측치인 데이터들 중 ‘neutral or dissatisfied’ 보다 ‘satisfied’의 수가 더 높은 Class는 어디 인가?

In [65]:
t = df.loc[(df['Arrival Delay in Minutes'].isna())].groupby(['Class','satisfaction'], as_index=False).size().pivot(index='Class', columns='satisfaction')
result = t.loc[t['size']['neutral or dissatisfied'] < t['size']['satisfied']]
result

                                size
satisfaction neutral or dissatisfied satisfied
Class
Business                          36        76

[[[ 핸드폰 가격 예측데이터 ]]]

In [2]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv")
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

★★★★★-- price_range 의 각 value를 그룹핑하여 각 그룹의 n_cores 의 빈도가 가장높은 value와 그 빈도수를 구하여라

In [94]:
result = df.groupby(['price_range','n_cores']).size().sort_values().groupby(level=0).tail(1)
result

price_range  n_cores
0            2          69
3            5          70
2            4          73
1            1          76
dtype: int64

★★★★★★★★★★-- price_range 값이 3인 그룹에서 상관관계가 2번째로 높은 두 컬럼과 그 상관계수를 구하여라

In [25]:
t = df.loc[df['price_range']==3].corr().unstack().sort_values(ascending=False)
result = t.loc[t!=1].reset_index().iloc[1]
print(result)

level_0          pc
level_1          fc
0          0.635166
Name: 1, dtype: object

[[[ 자동차 보험가입 예측데이터 ]]]

In [26]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv")
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,188957,Female,25,1,17.0,1,< 1 Year,No,38785.0,152.0,59,0
1,275631,Male,20,1,22.0,0,< 1 Year,No,2630.0,160.0,113,0
2,329036,Female,40,1,41.0,0,1-2 Year,Yes,33165.0,124.0,188,0
3,227288,Female,28,1,30.0,1,< 1 Year,No,29038.0,152.0,233,0
4,300441,Female,50,1,28.0,0,1-2 Year,Yes,31325.0,124.0,258,0

-- Vehicle_Age 값이 2년 이상인 사람들만 필터링 하고 그중에서
Annual_Premium 값이 전체 데이터의 중간값 이상인 사람들을 찾고, 그들의 Vintage값의 평균을 구하여라

In [32]:
result = df.loc[(df['Vehicle_Age']=='> 2 Years') & (df['Annual_Premium']>=df['Annual_Premium'].median())]['Vintage'].mean()
print(result)

154.43647182359118

★★★-- vehicle_age에 따른 각 성별(gender)그룹의 Annual_Premium값의 평균을 구하여 아래 테이블과 동일하게 구현하라

In [56]:
t = df.groupby(['Vehicle_Age', 'Gender'], as_index=False)['Annual_Premium'].mean()
result = t.pivot(index='Vehicle_Age', columns='Gender', values='Annual_Premium')
result

Gender             Female          Male
Vehicle_Age
1-2 Year     30762.245001  30413.088469
< 1 Year     29972.286702  30310.982212
> 2 Years    36108.366374  35303.870627

[[[ 성인 건강검진 데이터 ]]]

In [3]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv")
df.head()

,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),청력(우),수축기혈압,...,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,구강검진수검여부,치아우식증유무,치석
0,F,55,145,55,73.0,0.7,0.5,1.0,1.0,129.0,...,12.9,1.0,0.9,172.0,209.0,15.0,0,Y,0.0,Y
1,M,40,180,55,74.0,1.5,1.5,1.0,1.0,102.0,...,15.6,1.0,0.8,30.0,19.0,23.0,1,Y,0.0,Y
2,F,55,150,50,72.0,1.0,0.2,1.0,1.0,116.0,...,14.1,1.0,1.0,31.0,19.0,10.0,0,Y,0.0,N
3,M,40,170,85,89.0,1.0,0.8,1.0,1.0,124.0,...,16.7,1.0,1.0,26.0,38.0,108.0,1,Y,1.0,Y
4,F,40,155,45,62.0,0.5,1.0,1.0,1.0,127.0,...,12.9,1.0,0.7,20.0,11.0,13.0,0,Y,0.0,N

-- 수축기혈압과 이완기 혈압기 수치의 차이를 새로운 컬럼(‘혈압차’) 으로 생성하고, 연령대 코드별 각 그룹 중 ‘혈압차’ 의 분산이 5번째로 큰 연령대 코드를 구하여라

In [5]:
df['혈압차'] = df['수축기혈압']-df['이완기혈압']
result = df.groupby(['연령대코드(5세단위)'])['혈압차'].var().sort_values(ascending=False).index[4]
print(result)

60

★★★-- 비만도를 나타내는 지표인 WHtR는 허리둘레 / 키로 표현한다. 일반적으로 0.58이상이면 비만으로 분류한다. 데이터중 WHtR 지표상 비만인 인원의 남/여 비율을 구하여라

In [16]:
df['WHtR'] = df['허리둘레']/df['신장(5Cm단위)']
t = df.loc[df.WHtR >= 0.58]['성별코드'].value_counts()
result = t['M']/t['F']
print(result)

1.1693877551020408

[[[ 서비스 이탈 예측 데이터 ]]]

In [18]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,6842,15793491,Cherkasova,714,Germany,Male,26,3,119545.48,2,1,0,65482.94,0
1,8963,15607874,Keane,687,France,Male,38,0,144450.58,1,0,1,137276.83,0
2,7047,15737627,Rivero,589,Germany,Female,20,2,121093.29,2,1,0,3529.72,0
3,7503,15697844,Whitehouse,721,Spain,Female,32,10,0.00,1,1,0,136119.96,1
4,3439,15722404,Carpenter,445,France,Female,30,3,0.00,2,1,1,127939.19,0

-- 남성 이탈(Exited)이 가장 많은 국가(Geography)는 어디이고 이탈 인원은 몇명인가?

In [47]:
result = df.loc[(df.Gender == 'Male') & (df.Exited == 1)]['Geography'].value_counts(ascending=False).head(1)
result2 = df.loc[(df.Gender == 'Male')].groupby('Geography').sum()['Exited'].sort_values(ascending=False).head(1)
print(result)
print(result2)

Geography
Germany    287
Name: count, dtype: int64
Geography
Germany    287
Name: Exited, dtype: int64

-- 카드를 소유(HasCrCard ==1)하고 있으면서 활성멤버(IsActiveMember ==1) 인 고객들의 평균 나이를 소숫점이하 4자리까지 구하여라?

In [49]:
result = df.loc[(df.HasCrCard == 1) & (df.IsActiveMember == 1)]['Age'].mean().round(4)
print(result)

39.6102

-- Balance 값이 중간값 이상을 가지는 고객들의 CreditScore의 표준편차를 소숫점이하 3자리까지 구하여라

In [50]:
result = df.loc[df.Balance >= df.Balance.median()]['CreditScore'].std().round(3)
print(result)

97.295

[[[ 기온 강수량 데이터 ]]]

In [56]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv")
df.head()

                  time  이화동강수  이화동기온  수영동강수  수영동기온
0  2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1  2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2  2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3  2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4  2020-01-01 04:00:00    0.0   -0.1    0.0    5.1

여름철(6월,7월,8월) 이화동이 수영동보다 높은 기온을 가진 시간대는 몇개인가?

In [76]:
df['time'] = pd.to_datetime(df['time'])
result = df.loc[(df.time.dt.month.isin([6,7,8])) & (df['이화동기온']>df['수영동기온'])]['time'].count()
result2 = len(df.loc[(df.time.dt.month.isin([6,7,8])) & (df['이화동기온']>df['수영동기온'])]['time'])
print(result)
print(result2)

1415
1415

이화동과 수영동의 최대강수량의 시간대를 각각 구하여라

In [82]:
yihwa = df.loc[df['이화동강수'] == df['이화동강수'].max()]['time'].values
suyoung = df.loc[df['수영동강수'] == df['수영동강수'].max()]['time'].values
print(yihwa, suyoung)

['2020-09-30T09:00:00.000000000'] ['2020-07-23T12:00:00.000000000']

[[[ 대한민국 체력장 데이터 ]]]

In [83]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv')
df.head()

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

-- 전체데이터의 수축기혈압(최고) - 이완기혈압(최저)의 평균을 구하여라

In [84]:
result = (df['수축기혈압(최고) : mmHg'] - df['이완기혈압(최저) : mmHg']).mean()
print(result)

52.19539414750672

-- 50~59세의 신장평균을 구하여라

In [85]:
result = df.loc[(df['측정나이'] >= 50) & (df['측정나이'] < 60)]['신장 : cm'].mean()
print(result)

164.07490107405314

-- 연령대 (20~29 : 20대 …) 별 인원수를 구하여라

In [94]:
result = (df['측정나이']//10*10).value_counts()
df['연령대'] = df['측정나이']//10*10
result2 = df['연령대'].value_counts()
print(result)
print(result2)

측정나이
20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
Name: count, dtype: int64
연령대
20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
Name: count, dtype: int64

★★★-- 연령대 (20~29 : 20대 …) 별 등급의 숫자를 데이터 프레임으로 표현하라

In [121]:
result = df.groupby(['연령대','등급'], as_index=False).size()
print(result)

     연령대 등급  size
0   20.0  A  1585
1   20.0  B  1443
2   20.0  C  1455
3   20.0  D  1348
4   30.0  A   743
5   30.0  B   697
6   30.0  C   626
7   30.0  D   594
8   40.0  A   386
9   40.0  B   428
10  40.0  C   455
11  40.0  D   532
12  50.0  A   321
13  50.0  B   410
14  50.0  C   474
15  50.0  D   564
16  60.0  A   314
17  60.0  B   371
18  60.0  C   339
19  60.0  D   311

-- 남성 중 A등급과 D등급의 체지방률 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [134]:
result = df.loc[(df['측정회원성별'] == 'M') & (df['등급'] == 'D')]['체지방율 : %'].mean() - df.loc[(df['측정회원성별'] == 'M') & (df['등급'] == 'A')]['체지방율 : %'].mean()
print(result)

7.932086486137521

-- 여성 중 A등급과 D등급의 체중의 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [138]:
result = df.loc[(df['측정회원성별'] == 'F') & (df['등급'] == 'D')]['체중 : kg'].mean() - df.loc[(df['측정회원성별'] == 'F') & (df['등급'] == 'A')]['체중 : kg'].mean()
print(result)

5.176211590296504

★★★-- bmi는 자신의 몸무게(kg)를 키의 제곱(m)으로 나눈값이다. 데이터의 bmi 를 구한 새로운 컬럼을 만들고 남성의 bmi 평균을 구하여라

In [142]:
df['bmi'] = df['체중 : kg'] / (df['신장 : cm']/100)**2
result = df.loc[df['측정회원성별'] == 'M']['bmi'].mean()
print(result)

24.46134409819308

-- bmi보다 체지방율이 높은 사람들의 체중평균을 구하여라

In [151]:
result = df.loc[df['체지방율 : %'] > df['bmi']]['체중 : kg'].mean()
print(result)

61.7408806392542

-- 남성과 여성의 악력 평균의 차이를 구하여라

In [147]:
result = df.loc[df['측정회원성별'] == 'M']['악력D : kg'].mean() - df.loc[df['측정회원성별'] == 'F']['악력D : kg'].mean()
print(result)

t = df.groupby('측정회원성별')['악력D : kg'].mean()
result2 = t.M - t.F
print(result2)

17.55954185047464
17.55954185047465

-- 남성과 여성의 교차윗몸일으키기 횟수의 평균의 차이를 구하여라

In [152]:
result = df.loc[df['측정회원성별'] == 'M']['교차윗몸일으키기 : 회'].mean() - df.loc[df['측정회원성별'] == 'F']['교차윗몸일으키기 : 회'].mean()
print(result)

t = df.groupby('측정회원성별')['교차윗몸일으키기 : 회'].mean()
result2 = t.M - t.F
print(result2)

14.243156833157627
14.243156833157627

[[[ 포켓몬 정보 데이터 ]]]

In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

-- Legendary 컬럼은 전설포켓몬 유무를 나타낸다.전설포켓몬과 그렇지 않은 포켓몬들의 HP평균의 차이를 구하여라

In [9]:
result = df.groupby('Legendary')['HP'].mean().diff()[1]
print(result)

25.55614861329147

-- Type 1은 주속성 Type 2 는 부속성을 나타낸다. 가장 많은 부속성 종류는 무엇인가?

In [18]:
result = df['Type 2'].value_counts().index[0]
print(result)

Flying

-- 가장 많은 Type 1 의 종의 평균 Attack 을 평균 Defense로 나눈값은?

In [21]:
t = df.loc[df['Type 1'] == df['Type 1'].value_counts().index[0]]
result = t['Attack'].mean() / t['Defense'].mean()
print(result)

1.0165238678090576

-- 포켓몬 세대(Generation) 중 가장많은 Legendary를 보유한 세대는 몇세대인가?

In [28]:
result = df.loc[df['Legendary']==True]['Generation'].value_counts().index[0]
print(result)

3

★★★★★-- ‘HP’, ‘Attack’, ‘Defense’, ‘Sp. Atk’, ‘Sp. Def’, ‘Speed’ 간의 상관 계수중 가장 절댓값이 큰 두 변수와 그 값을 구하여라

In [58]:
t = df.iloc[:,5:10].corr().unstack().reset_index().rename(columns={0:'corr'})
result = t.loc[t['corr'] != 1].sort_values('corr', ascending=False).iloc[0]
print(result)

level_0     Sp. Def
level_1     Defense
corr       0.510747
Name: 22, dtype: object

★★★★★-- 각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라

In [61]:
result = df.sort_values(['Generation', 'Attack']).groupby('Generation').head(3).Attack.mean()
print(result)

19.5

-- 각 Generation의 Attack으로 내림차순 정렬시 상위 5개 데이터들(30개)의 Attack의 전체 평균을 구하여라

In [63]:
result = df.sort_values(['Generation', 'Attack'], ascending=False).groupby('Generation').head(5).Attack.mean()
print(result)

157.23333333333332

-- 가장 흔하게 발견되는 (Type1 , Type2) 의 쌍은 무엇인가?

In [75]:
result = df[['Type 1', 'Type 2']].value_counts().head(1)
print(result)

Type 1  Type 2
Normal  Flying    24
Name: count, dtype: int64

★★★-- 한번씩만 존재하는 (Type1 , Type2)의 쌍의 갯수는 몇개인가?

In [82]:
t = df[['Type 1', 'Type 2']].value_counts()
result = t.loc[t == 1].count()
print(result)

39

★★★★★★★★★★-- 한번씩만 존재하는 (Type1 , Type2)의 쌍을 각 세대(Generation)은 각각 몇개씩 가지고 있는가?

In [6]:
target = df[['Type 1', 'Type 2']].value_counts()
target2 = target[target==1]

list = []
for value in target2.reset_index().values:
    t1 = value[0]
    t2 = value[1]

    sp = df[(df['Type 1']==t1) & (df['Type 2']==t2)]
    list.append(sp)

result = pd.concat(list).reset_index(drop=True).Generation.value_counts().sort_index()
print(result)

Generation
1     1
2     4
3     5
4    13
5     7
6     9
Name: count, dtype: int64

[[[ 지역구 에너지 소비량 데이터 ]]]

In [20]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

★★★-- DateTime컬럼을 통해 각 월별로 몇개의 데이터가 있는지 데이터 프레임으로 구하여라

In [17]:
df['DateTime'] = pd.to_datetime(df['DateTime'])
result = df['DateTime'].dt.month.value_counts().sort_index().to_frame()
print(result)

          count
DateTime
1          4464
2          4032
3          4464
4          4320
5          4464
6          4320
7          4464
8          4464
9          4320
10         4464
11         4320
12         4320

-- 3월달의 각 시간대별 온도의 평균들 중 가장 낮은 시간대의 온도를 출력하라

In [36]:
df['DateTime'] = pd.to_datetime(df['DateTime'])
t = df[df.DateTime.dt.month == 3]
result = t.groupby(t.DateTime.dt.hour).Temperature.mean().sort_values().values[0]
print(result)

11.506612903225806

-- 3월달의 각 시간대별 온도의 평균들 중 가장 높은 시간대의 온도를 출력하라

In [35]:
df['DateTime'] = pd.to_datetime(df['DateTime'])
t = df.loc[df['DateTime'].dt.month == 3]
result = t.groupby(t.DateTime.dt.hour)['Temperature'].mean().sort_values(ascending=False).values[0]
print(result)

18.393602150537635

-- Zone 1 Power Consumption 컬럼의 value값의 크기가 Zone 2 Power Consumption 컬럼의 value값의 크기보다 큰 데이터들의 Humidity의 평균을 구하여라

In [44]:
result = df.loc[df['Zone 1 Power Consumption'] > df['Zone 2  Power Consumption']]['Humidity'].mean()
print(result)

68.23624448055052

-- 각 zone의 에너지 소비량의 상관관계를 구해서 데이터 프레임으로 표기하라

In [48]:
result = df[['Zone 1 Power Consumption', 'Zone 2  Power Consumption', 'Zone 3  Power Consumption']].corr()
display(result)

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

★★★★★-- Temperature의 값이 10미만의 경우 A, 10이상 20미만의 경우 B,20이상 30미만의 경우 C, 그 외의 경우 D라고 할때 각 단계의 데이터 숫자를 구하여라

In [55]:
def target(x):
    if x < 10:
        return 'A'
    elif x < 20:
        return 'B'
    elif x < 30:
        return 'C'
    else:
        return 'D'

df['Grade'] = df.Temperature.map(target)
result = df.Grade.value_counts()
print(result)

Grade
B    26993
C    21105
A     2874
D     1444
Name: count, dtype: int64

-- 6월 데이터중 12시의 Temperature의 표준편차를 구하여라

In [57]:
result = df.loc[(df.DateTime.dt.month == 6) & (df.DateTime.dt.hour == 12)]['Temperature'].std()
print(result)

2.0499417827951025

-- 6월 데이터중 12시의 Temperature의 분산을 구하여라

In [58]:
result = df.loc[(df.DateTime.dt.month ==6) & (df.DateTime.dt.hour == 12)].Temperature.var()
print(result)

4.202261312849163

★★★-- Temperature의 평균이상의 Temperature의 값을 가지는 데이터를 Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

In [64]:
result = df.loc[df.Temperature >= df.Temperature.mean()].sort_values('Temperature').Humidity.values[3]
print(result)

87.9

-- Temperature의 중간값 이상의 Temperature의 값을 가지는 데이터를Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

In [66]:
result = df.loc[df.Temperature >= df.Temperature.median()].sort_values('Temperature').Humidity.values[3]
print(result)

80.3

[[[ 전세계 행복도 지표 데이터 ]]]

In [3]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

-- 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 10위를 차지한 나라의 행복점수의 평균을 구하여라

In [72]:
result = df.loc[df['행복랭킹']==10]['점수'].mean()
print(result)

7.259

-- 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 50위이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하라

In [93]:
result = df.loc[df['행복랭킹']<=50][['년도','점수']].groupby('년도').mean()
print(result)

           점수
년도
2018  6.64678
2019  6.67002

-- 2018년도 데이터들만 추출하여 행복점수와 부패에 대한 인식에 대한 상관계수를 구하여라

In [117]:
result = df.loc[df['년도']==2018][['점수','부패에 대한인식']].corr().iloc[0,1]
print(result)

0.40529152271510027

★★★★★★★★★★-- 2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하여라

In [176]:
result = len(df[['행복랭킹','나라명']])-len(df[['행복랭킹','나라명']].drop_duplicates())
print(result)

15

★★★★★★★★★★-- 2019년도 데이터들만 추출하여 각변수간 상관계수를 구하고 내림차순으로 정렬한 후 상위 5개를 데이터 프레임으로 출력하라. 컬럼명은 v1,v2,corr으로 표시하라

In [4]:
t = df.drop('나라명',axis=1).loc[df['년도']==2019].corr().unstack().to_frame().reset_index().dropna()
tt = t[t[0] != 1].sort_values(0, ascending=False).drop_duplicates(0)
answer = tt.head(5).reset_index(drop=True)
answer.columns = ['v1','v2','corr']
display(answer)

      v1     v2      corr
0  행복기대치  상대GDP  0.835462
1  상대GDP     점수  0.793883
2  행복기대치     점수  0.779883
3  사회적지원     점수  0.777058
4  사회적지원  상대GDP  0.754906

-- 각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하여라

In [245]:
result = df.groupby(['년도']).tail(5).groupby('년도')['점수'].mean()
print(result)

년도
2018    3.1800
2019    3.1408
Name: 점수, dtype: float64

-- 2019년 데이터를 추출하고 해당데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하라

In [32]:
target = df.loc[df['년도']==2019]
upper = target.loc[target['상대GDP']>=target['상대GDP'].mean()]['점수'].mean()
lower = target.loc[target['상대GDP']<=target['상대GDP'].mean()]['점수'].mean()
result = upper - lower
print(result)

1.390483957219251

★★★★★-- 각년도의 부패에 대한인식을 내림차순 정렬했을때 상위 20개 국가의 부패에 대한인식의 평균을 구하여라

In [59]:
result = df.sort_values(['년도','부패에 대한인식'], ascending=False).groupby('년도').head(20).groupby('년도')['부패에 대한인식'].mean()
print(result)

년도
2018    0.3267
2019    0.3201
Name: 부패에 대한인식, dtype: float64

★★★★★-- 2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자를 구하여라

In [64]:
result = set(df[(df['년도']==2018)&(df['행복랭킹']<=50)]['나라명']) - set(df[(df['년도']==2019)&(df['행복랭킹']<=50)]['나라명'])
print(len(result))

4

★★★★★★★★★★-- 2018년, 2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?

In [5]:
count = df['나라명'].value_counts()
target = count[count >= 2].index

df2 = df.copy()
multiple = df2[df2['나라명'].isin(target)].reset_index(drop=True)
multiple.loc[multiple['년도'] == 2018, '점수'] = multiple[multiple['년도'] == 2018]['점수'].values * (-1)
result = multiple.groupby('나라명').sum()['점수'].sort_values().to_frame().iloc[-1]
result

점수    0.87
Name: Burundi, dtype: float64

[[[ 서울시 따릉이 이용정보 데이터 ]]]

In [2]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df.head()

         대여일자  대여시간  대여소번호 대여구분코드 성별 연령대코드  이용건수    운동량   탄소량     이동거리  사용시간
0  2021-06-01     0   3541    정기권  F  ~10대     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    정기권  F  ~10대     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    정기권  F  ~10대     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    정기권  F  ~10대     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    정기권  F  ~10대     1  13.04  0.17   731.55     6

-- 대여일자별 데이터의 수를 데이터프레임으로 출력하고, 가장 많은 데이터가 있는 날짜를 출력하라

In [26]:
result = df.groupby('대여일자')['대여일자'].count().to_frame()
result2 = df['대여일자'].value_counts().sort_index().to_frame()
display(result)
display(result2)
answer = result.loc[result['대여일자'] == result['대여일자'].max()].index[0]
print(answer)

             대여일자
대여일자
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

            count
대여일자
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

2021-06-04

-- 각 일자의 요일을 표기하고 (‘Monday’ ~’Sunday’) ‘day_name’컬럼을 추가하고 이를 이용하여 각 요일별 이용 횟수의 총합을 데이터 프레임으로 출력하라

In [27]:
df['대여일자'] = pd.to_datetime(df['대여일자'])
df['day_name'] = df['대여일자'].dt.day_name()

result = df['day_name'].value_counts().to_frame()
print(result)

            count
day_name
Wednesday  110607
Friday     108877
Monday     107568
Tuesday    103704
Saturday   101299
Sunday      90918
Thursday    55977

★★★★★★★★★★-- 각 요일별 가장 많이 이용한 대여소의 이용횟수와 대여소 번호를 데이터 프레임으로 출력하라

In [28]:
result = df.groupby(['day_name', '대여소번호']).size().to_frame('size').sort_values(['day_name', 'size'], ascending=False).reset_index()
answer = result.drop_duplicates('day_name', keep='first').reset_index(drop=True)
display(answer)

    day_name  대여소번호  size
0  Wednesday    502   282
1    Tuesday    502   267
2   Thursday   2715   137
3     Sunday    502   372
4   Saturday    502   378
5     Monday    502   242
6     Friday    502   277

★★★★★★★★★★-- 나이대별 대여구분 코드의 (일일권/전체횟수) 비율을 구한 후 가장 높은 비율을 가지는 나이대를 확인하라. 일일권의 경우 일일권 과 일일권(비회원)을 모두 포함하라

In [29]:
daily = df.loc[df['대여구분코드'].isin(['일일권', '일일권(비회원)'])].value_counts(['연령대코드']).sort_index()
total = df.value_counts(['연령대코드']).sort_index()
result = (daily/total).sort_values(ascending=False)
print(result)
print(result.index[0])

연령대코드
~10대     0.312525
20대      0.239913
30대      0.166702
40대      0.110585
50대      0.065414
70대~     0.048962
60대      0.042462
Name: count, dtype: float64
('~10대',)

-- 연령대별 평균 이동거리를 구하여라

In [30]:
result = df.groupby('연령대코드')['이동거리'].mean()
result2 = df[['연령대코드','이동거리']].groupby('연령대코드').mean()

print(result)
print(result2)

연령대코드
20대     3211.890552
30대     3341.443859
40대     3514.857416
50대     3593.668100
60대     3538.145737
70대~    3085.039641
~10대    2634.426279
Name: 이동거리, dtype: float64
              이동거리
연령대코드
20대    3211.890552
30대    3341.443859
40대    3514.857416
50대    3593.668100
60대    3538.145737
70대~   3085.039641
~10대   2634.426279

★★★★★-- 연령대 코드가 20대인 데이터를 추출하고,이동거리값이 추출한 데이터의 이동거리값의 평균 이상인 데이터를 추출한다.최종 추출된 데이터를 대여일자, 대여소 번호 순서로 내림차순 정렬 후 1행부터 200행까지의 탄소량의 평균을 소숫점 3째 자리까지 구하여라

In [44]:
target = df.loc[df['연령대코드']=='20대']
target2 = target.loc[t['이동거리'] >= target['이동거리'].mean()]
target2['탄소량'] = target2['탄소량'].astype('float')
result = target2.sort_values(['대여일자', '대여소번호'], ascending=False).iloc[:200]['탄소량'].mean().round(3)
print(result)

1.613

C:\Users\user\AppData\Local\Temp\ipykernel_17468\2379115982.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target2['탄소량'] = target2['탄소량'].astype('float')

★★★-- 6월 7일 ~10대의 “이용건수”의 중앙값은?

In [53]:
df['대여일자'] = pd.to_datetime(df['대여일자'])
result = df.loc[(df['대여일자']==pd.to_datetime('2021-06-07')) & (df['연령대코드']=='~10대'),'이용건수'].median()
print(result)

1.0

★★★★★★★★★★-- 평일 (월~금) 출근 시간대(오전 6,7,8시)의 대여소별 이용 횟수를 구해서 데이터 프레임 형태로 표현한 후 각 대여시간별 이용 횟수의 상위 3개 대여소와 이용횟수를 출력하라

In [88]:
target = df.loc[(df['day_name'].isin(['Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday'])) & (df['대여시간'].isin([6,7,8]))].groupby(['대여시간', '대여소번호']).size().to_frame('이용횟수')
result = target.sort_values(['대여시간','이용횟수'], ascending=False).groupby('대여시간').head(3)
print(result)

            이용횟수
대여시간 대여소번호
8    2701    119
     646     115
     1152     92
7    259     104
     230      77
     726      77
6    2744     45
     1125     40
     1028     36

-- 이동거리의 평균 이상의 이동거리 값을 가지는 데이터를 추출하여 추출데이터의 이동거리의 표본표준편차 값을 구하여라

In [89]:
result = df.loc[df['이동거리'] >= df['이동거리'].mean()]['이동거리'].std()
print(result)

5092.139707505356

★★★★★-- 남성(‘M’ or ‘m’)과 여성(‘F’ or ‘f’)의 이동거리값의 평균값을 구하여라

In [102]:
df.loc[df['성별'].isin(['M','m']), 'sex'] = '남'
df.loc[df['성별'].isin(['F','f']), 'sex'] = '여'
result = df.groupby('sex')['이동거리'].mean()
print(result)

df['sex'] = df['성별'].map(lambda x: '남' if x in ['M', 'm'] else '여')
answer = df[['sex', '이동거리']].groupby('sex').mean()
print(answer)

sex
남    3209.110871
여    3468.575025
Name: 이동거리, dtype: float64
            이동거리
sex
남    3209.110871
여    3468.575025

[[[ 월드컵 출전선수 골기록 데이터 ]]]

In [103]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

★★★-- 주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라

In [121]:
result = df.groupby('Country').size().sort_values(ascending=False).head(5)
print(result)

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

-- 주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 데이터 프레임 형식으로 출력하라

-- Years 컬럼은 년도 -년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다. 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라

-- Q3에서 발생한 예외 케이스를 제외한 데이터프레임을 df2라고 정의하고 데이터의 행의 숫자를 출력하라 (아래 문제부터는 df2로 풀이하겠습니다)

-- 월드컵 출전횟수를 나타내는 ‘LenCup’ 컬럼을 추가하고 4회 출전한 선수의 숫자를 구하여라

-- Yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하여라

-- 2002년도에 출전한 전체 선수는 몇명인가?

-- 이름에 ‘carlos’ 단어가 들어가는 선수의 숫자는 몇 명인가? (대, 소문자 구분 x)

-- 월드컵 출전 횟수가 1회뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?

-- 월드컵 출전횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?