In [1]:
import pyrfc
import json
import pandas as pd

f=open("credentials.json")
credentials=json.load(f)

with pyrfc.Connection(**credentials) as conn:
    fields=["WERKS","MATNR","CHARG","LGORT","CLABS"]
    table='MCHB' 
    Where=['WERKS = 3204 AND LGORT = 2260']
    maxrow=10000
    fromrow=0

    result=conn.call("RFC_READ_TABLE", QUERY_TABLE=table, DELIMITER=',', FIELDS=fields,
                                OPTIONS=[{'TEXT': x} for x in Where], ROWCOUNT=maxrow, ROWSKIPS=fromrow)

data = []
for line in result["DATA"]:
    raw_data = line["WA"].strip().split(',')
    data.append(raw_data)

df = pd.DataFrame(data, columns=fields)  
df['MATNR']=pd.to_numeric(df.MATNR) 
print(df)

In [2]:
df.head()

  WERKS               MATNR       CHARG LGORT         CLABS
0  3204  000000000006205845  P22C012045  2240         1.000
1  3204  000000000006219942  P22C012047  2240         1.000
2  3204  000000000006219736  P22C011050  2240         1.000
3  3204  000000000006213434  N22C011020  2240         1.000
4  3204  000000000006219739  P22C011104  2240         1.000

In [3]:
df.columns

Index(['WERKS', 'MATNR', 'CHARG', 'LGORT', 'CLABS'], dtype='object')

In [3]:
pd.to_numeric(df.MATNR)

NameError: name 'df' is not defined

In [13]:
df.head()

  WERKS    MATNR       CHARG LGORT         CLABS
0  3204  6205845  P22C012045  2240         1.000
1  3204  6219942  P22C012047  2240         1.000
2  3204  6219736  P22C011050  2240         1.000
3  3204  6213434  N22C011020  2240         1.000
4  3204  6219739  P22C011104  2240         1.000

WERKS  MATNR
3204   2014370       40537.000    2500.000    2500.000    2500.0...
       2100195         2000.000    2000.000    2000.000    2000.000
       2122902        5000.000    5000.000    5000.000    5000.0...
       2123515         1500.000    1500.000    1500.000    1500.000
       2123617        1500.000    1500.000    1500.000    1500.0...
                                        ...
       8613715                                    1.000       1.000
       8613716           1.000       1.000       1.000       1.0...
       8613717                                                1.000
       8613718                                                1.000
       8613719                        1.000       1.000       1.000
Name: CLABS, Length: 328, dtype: object