##### 5월 23일 스터디 : 통계 검정

#### 1. 자료가 수집된 지역의 평균온도(temp)는 20도라고 한다. 수집된 데이터를 사용하여 양측검정을 실시했을 때의 p-value 는 ? ( bike.csv 활용) (소수점 4째자리에서 반올림)

In [1]:
import pandas as pd
from scipy.stats import * 

df = pd.read_csv("./bike.csv")
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [2]:
stat, p = ttest_1samp(
                        a = df['temp'],
                        popmean = 20,
                        axis=0,
                        nan_policy='propagate',
                        alternative='two-sided',
                      )

print(stat)
print(round(p, 3))

3.0914087709393705
0.002

#### 2. 2011년 1월의 데이터를 대상으로 동 시간대의 각 casual 과 registered의 평균 차이 검정 시 검정 통계량은? (bike.csv 파일 사용, 양측 검정을 실시하고 검정통계량 절대값의 정수 부분을 확인하시오)

In [3]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

In [13]:
df['날짜'] = pd.to_datetime(df['datetime']).dt.date

In [14]:
df['연도'] = pd.to_datetime(df['datetime']).dt.year
df['월'] = pd.to_datetime(df['datetime']).dt.month

In [15]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,날짜,연도,월
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011-01-01,2011,1
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011-01-01,2011,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011-01-01,2011,1
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011-01-01,2011,1
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011-01-01,2011,1

In [24]:
df[(df['연도'] == 2011) & (df['월'] == 1)]['casual']
df[(df['연도'] == 2011) & (df['월'] == 1)]['registered']

0       13
1       32
2       27
3       10
4        1
      ...
426    108
427     74
428     55
429     53
430     27
Name: registered, Length: 431, dtype: int64

In [25]:
# 독립표본이 아니라, 대응 표본인거 중요 !!! 
stat, p = ttest_rel(a = df[(df['연도'] == 2011) & (df['월'] == 1)]['casual'], 
                    b = df[(df['연도'] == 2011) & (df['월'] == 1)]['registered'], 
                    axis=0, 
                    nan_policy='propagate', 
                    alternative='two-sided')

print(stat)
print(p)

-21.409875120262452
9.427438846135679e-70

In [28]:
print(round(abs(stat)))

21

#### 3. season1과 season4 간의 temp 평균 차이 여부를 검정 시 검정통계량은? bike.csv 파일 사용, 양측 검정을 실시하고 검정통계량 절대값의 정수부분을 확인하시오. 
단, 두 데이터는 정규분포를 따르고 등분산이라고 가정

In [5]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [6]:
df[df['season'] == 1]['temp']
df[df['season'] == 4]['temp']

4055     20.50
4056     19.68
4057     18.86
4058     18.86
4059     18.04
         ...
10881    15.58
10882    14.76
10883    13.94
10884    13.94
10885    13.12
Name: temp, Length: 2734, dtype: float64

In [7]:
statistic, p_value = shapiro(df[df['season'] == 1]['temp'])
print(p_value)
# H0: 정규분포다
# H0: 정규분포 아니다. 
# p-value 1.2696483555565145e-23 이므로 귀무가설 기각  -> 정규 분포 X
# 하지만 문제에서 정규분포라고 가정하니까..

1.2696483555565145e-23

In [8]:
statistic, p_value = shapiro(df[df['season'] == 4]['temp'])
print(p_value)
# H0: 정규분포다
# H0: 정규분포 아니다. 
# p-value 1.1418009557360738e-19 이므로 귀무가설 기각  -> 정규 분포 X
# 하지만 문제에서 정규분포라고 가정하니까..

1.1418009557360738e-19

In [9]:
statistic, p_value = ttest_ind(
                        a = df[df['season'] == 1]['temp'],
                        b = df[df['season'] == 4]['temp'],
                        axis=0,
                        equal_var=True, # 등분산 가정 
                        nan_policy='propagate',
                        permutations=None,
                        random_state=None,
                        alternative='two-sided',
                        trim=0,
                    )
print(p_value)

6.273354391414615e-189

In [10]:
# H0: 평균이 같다. 
# H1: 같지 않다(양측)
# p-value 6.273354391414615e-189 < 0.05, 귀무가설 기각.. 따라서 같지 않다.

#### 4. 계절별 기온 평균을 분산분석시 검정통계량은 (bike.csv 파일 사용) 
단, 각 데이터는 정규분포를 따르고 등분산이다라고 가정함

In [11]:
data1 = df[df['season'] == 1]['temp']
data2 = df[df['season'] == 2]['temp']
data3 = df[df['season'] == 3]['temp']
data4 = df[df['season'] == 4]['temp']

f_statistic, p_value = f_oneway(data1, data2, data3, data4)
print(f_statistic)

6040.687453316907

In [12]:
print(p_value)
# 귀무가설(H0): 모든 그룹의 평균은 동일하다.
# 대립가설(H1): 적어도 하나의 그룹의 평균은 다른 그룹과 유의미하게 다르다.
# p-value 0.0 < 0.05 이므로 귀무가설 기각하고 대립가설 채택 .
# 따라서 유의미하게 다르다.

0.0

#### 5. 주어진 iris 데이터셋의 'species' 열을 기준으로, 'sepal_length' 열의 값들이 종(species) 간에 유의미한 차이가 있는지를 one-way ANOVA 검정으로 확인한 뒤, 사후 검정을 진행하는 코드를 작성해주세요.

In [24]:
import pandas as pd
from scipy.stats import f_oneway
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from sklearn.datasets import load_iris

# iris 데이터셋 로드
iris = load_iris()
data = pd.DataFrame(data=iris.data, columns=iris.feature_names)
data['species'] = iris.target_names[iris.target]

data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [27]:
# 그룹별 데이터 추출
group1 = data[data['species'] == 'setosa']['sepal length (cm)']
group2 = data[data['species'] == 'versicolor']['sepal length (cm)']
group3 = data[data['species'] == 'virginica']['sepal length (cm)']

# One-way ANOVA 검정
f_statistic, p_value = f_oneway(group1, group2, group3)

# 결과 출력
print("One-way ANOVA 검정 결과:")
print("F-statistic:", f_statistic)
print("p-value:", p_value)

# 위의 결과에서 p-value 값이 0.05보다 작은 경우 해당 그룹 간에는 유의미한 차이가 있음을 의미합니다. 
# 따라서, 'sepal_width' 값은 종(species)에 따라 유의미하게 다른 것으로 나타납니다.

One-way ANOVA 검정 결과:
F-statistic: 119.26450218450468
p-value: 1.669669190769383e-31

In [28]:
# 사후 검정 (Tukey's HSD)
all_data = pd.concat([group1, group2, group3])
group_labels = ['setosa'] * len(group1) + ['versicolor'] * len(group2) + ['virginica'] * len(group3)
tukey_results = pairwise_tukeyhsd(all_data, group_labels)

# 사후 검정 결과 출력
print("\n사후 검정 (Tukey's HSD) 결과:")
print(tukey_results)

사후 검정 (Tukey's HSD) 결과:
   Multiple Comparison of Means - Tukey HSD, FWER=0.05
=========================================================
  group1     group2   meandiff p-adj lower  upper  reject
---------------------------------------------------------
    setosa versicolor     0.93   0.0 0.6862 1.1738   True
    setosa  virginica    1.582   0.0 1.3382 1.8258   True
versicolor  virginica    0.652   0.0 0.4082 0.8958   True
---------------------------------------------------------

In [19]:
# setosa와 versicolor: setosa 그룹과 versicolor 그룹 간의 'sepal_width' 값의 평균 차이는 유의미합니다. (평균 차이: -0.6587)
# setosa와 virginica: setosa 그룹과 virginica 그룹 간의 'sepal_width' 값의 평균 차이는 유의미합니다. (평균 차이: -0.454)
# versicolor와 virginica: versicolor 그룹과 virginica 그룹 간의 'sepal_width' 값의 평균 차이는 유의미합니다. (평균 차이: 0.2047)
# 따라서, 위의 결과를 통해 'sepal_width' 값은 setosa, versicolor, virginica 세 종(species) 간에 서로 다른 평균을 가지고 있으며, 이들 간의 평균 차이는 유의미하다고 할 수 있습니다.

1539

##### 6. 주어진 데이터셋은 3개의 그룹으로 나누어진 붓꽃(iris) 데이터셋입니다. 각 그룹은 setosa, versicolor, virginica 종에 해당하는 붓꽃의 꽃잎 길이(sepal length)를 측정한 데이터입니다. 각 그룹의 분산이 서로 동일한지 등분산 검정을 수행하세요.

In [46]:
import pandas as pd
from scipy.stats import bartlett
from sklearn.datasets import load_iris

# iris 데이터셋 로드
iris = load_iris()
data = pd.DataFrame(data=iris.data, columns=iris.feature_names)
data['species'] = iris.target_names[iris.target]

data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [47]:
# 등분산 검정을 위한 데이터 형식 변환
setosa = data[data['species'] == 'setosa']['sepal length (cm)']
versicolor = data[data['species'] == 'versicolor']['sepal length (cm)']
virginica = data[data['species'] == 'virginica']['sepal length (cm)']

# 등분산 검정 수행
statistic, p_value = bartlett(setosa, versicolor, virginica)

# 결과 출력
print("등분산 검정 결과:")
print("통계량:", statistic)
print("p-value:", p_value)

등분산 검정 결과:
통계량: 16.005701874401502
p-value: 0.0003345076070163035

In [48]:
# 귀무 가설(H0): 세 그룹의 분산은 동일하다. (등분산)
# 대립 가설(H1): 세 그룹의 분산은 서로 다르다. (비등분산)

### 7. 세 가지 다른 비료 종류(A, B, C)를 사용하여 같은 작물에 대해 실험을 진행하였습니다. 실험 결과는 다음과 같습니다:

비료 A를 사용한 실험 그룹: [12, 15, 18, 11, 16]
비료 B를 사용한 실험 그룹: [10, 8, 12, 9, 11]
비료 C를 사용한 실험 그룹: [16, 20, 22, 19, 18]
세 그룹 간의 평균 차이가 있는지 확인하기 위해 등분산 검정을 수행하세요. 유의 수준 0.05에서 F-검정을 수행하고 결과를 해석하세요.

가설 설정:

귀무 가설(H0): 세 그룹의 평균은 동일하다.
대립 가설(H1): 적어도 하나의 그룹의 평균은 다른 그룹과 다르다.
유의 수준:

α = 0.05
F-검정 수행 및 결과 해석을 작성하세요.

In [49]:
import numpy as np
from scipy.stats import f

# 데이터셋
group_A = [12, 15, 18, 11, 16]
group_B = [10, 8, 12, 9, 11]
group_C = [16, 20, 22, 19, 18]

# 등분산 검정
f_statistic, p_value = f_oneway(group_A, group_B, group_C)

# 결과 출력
alpha = 0.05
print("F-검정 결과:")
print("통계량 (F-통계량):", f_statistic)
print("p-value:", p_value)
if p_value < alpha:
    print("귀무 가설(H0) 기각: 세 그룹의 평균은 서로 다릅니다.")
else:
    print("귀무 가설(H0) 채택: 세 그룹의 평균은 동일합니다.")

F-검정 결과:
통계량 (F-통계량): 19.227848101265828
p-value: 0.00018097819725543067
귀무 가설(H0) 기각: 세 그룹의 평균은 서로 다릅니다.

#### 8. 타이타닉 데이터셋에서 성별(sex)과 생존 여부(survived) 사이의 독립성을 검정하려고 합니다. chi-square 독립성 검정을 수행하여 성별과 생존 여부 사이의 관련성을 확인하세요.

데이터셋:

타이타닉 데이터셋의 일부를 활용합니다.

가설 설정:

귀무 가설(H0): 성별과 생존 여부는 독립적이다. (즉, 성별과 생존 여부 사이에 관련성이 없다.)
대립 가설(H1): 성별과 생존 여부는 독립적이지 않다. (즉, 성별과 생존 여부 사이에 관련성이 있다.)
유의 수준:

α = 0.05
chi-square 독립성 검정 수행 및 결과 해석을 쓰세요.

In [51]:
import pandas as pd
from scipy.stats import chi2_contingency

# 타이타닉 데이터셋 로드
titanic_data = pd.read_csv('titanic.csv')

titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [52]:

# 교차 테이블 생성
cross_table = pd.crosstab(titanic_data['sex'], titanic_data['survived'])

# chi-square 독립성 검정 수행
chi2_statistic, p_value, dof, expected = chi2_contingency(cross_table)

# 결과 출력
alpha = 0.05
print("chi-square 독립성 검정 결과:")
print("통계량 (chi2 통계량):", chi2_statistic)
print("p-value:", p_value)
if p_value < alpha:
    print("귀무 가설(H0) 기각: 성별과 생존 여부는 독립적이지 않습니다.")
else:
    print("귀무 가설(H0) 채택: 성별과 생존 여부는 독립적입니다.")

chi-square 독립성 검정 결과:
통계량 (chi2 통계량): 260.71702016732104
p-value: 1.1973570627755645e-58
귀무 가설(H0) 기각: 성별과 생존 여부는 독립적이지 않습니다.

#### 9. 타이타닉 데이터셋에서 나이(age)와 요금(fare) 사이의 상관 관계를 확인하려고 합니다. pandas의 corr() 함수를 사용하여 나이와 요금 사이의 상관 계수를 계산하세요.

In [53]:
import pandas as pd

# 타이타닉 데이터셋 로드
titanic_data = pd.read_csv('titanic.csv')

# 나이(age)와 요금(fare) 사이의 상관 계수 계산
correlation = titanic_data['age'].corr(titanic_data['fare'])

# 결과 출력
print("상관 계수 결과:")
print("상관 계수:", correlation)
if correlation > 0:
    print("두 변수는 양의 상관 관계를 가집니다.")
elif correlation < 0:
    print("두 변수는 음의 상관 관계를 가집니다.")
else:
    print("두 변수는 상관 관계가 없습니다.")

상관 계수 결과:
상관 계수: 0.09606669176903888
두 변수는 양의 상관 관계를 가집니다.