In [1]:
import pandas as pd
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
url='https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv'
df=pd.read_csv(url)
type(df)

pandas.core.frame.DataFrame

In [3]:
df.head()

,Unnamed: 0,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60399 entries, 0 to 60398
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      60399 non-null  int64
 1   title           60399 non-null  object
 2   channelTitle    60399 non-null  object
 3   categoryId      60399 non-null  int64
 4   view_count      60399 non-null  int64
 5   likes           60399 non-null  int64
 6   dislikes        60399 non-null  int64
 7   comment_count   60399 non-null  int64
 8   channelId       60399 non-null  object
 9   trending_date2  60399 non-null  object
dtypes: int64(6), object(4)
memory usage: 4.6+ MB

Q1 ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„ ì¶œë ¥í•˜ë¼ (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [5]:

list(df.loc[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique())

['ì¥ì‚ì­ˆ',
 'ì´ëª‡ëª…',
 'íŒŒë¿Œë¦¬',
 'ì§¤íˆ°',
 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„',
 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„',
 'SPOTV',
 'ì±„ë„ ì‹­ì˜¤ì•¼',
 'ì´ê³¼ì¥',
 'BANGTANTV']

In [64]:

list(df.channelTitle.value_counts().head(10).index)

['ì§¤íˆ°',
 'íŒŒë¿Œë¦¬',
 'SPOTV',
 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„',
 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„',
 'ì¥ì‚ì­ˆ',
 'BANGTANTV',
 'ì±„ë„ ì‹­ì˜¤ì•¼',
 'ì´ê³¼ì¥',
 'ì´ëª‡ëª…']

Q2 ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikesìˆ˜ê°€ like ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [65]:

list(df.loc[df.dislikes>df.likes].channelTitle.unique())

['í•«ë„ê·¸TV',
 'ASMR ì• ì •TV',
 'í•˜ì–€íŠ¸ë¦¬HayanTree',
 'ì–‘íŒ¡ YangPang',
 'ì² êµ¬í˜• (CHULTUBE)',
 'ì™œëƒë§¨í•˜ìš°ìŠ¤',
 '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€',
 'ì˜¤ë©”í‚´TV',
 'ìœ¡ì§€ë‹´',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ',
 'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO',
 'Gen.G esports']

Q3 ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [66]:

(df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()>1).sum()

71

Q4 ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ì¤‘ ê°€ì¥ë§ì€ ì˜ìƒ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€?

In [69]:

df.trending_date2=pd.to_datetime(df.trending_date2)
df.loc[df.trending_date2.dt.day_name()=='Sunday'].categoryId.value_counts().index[0]

24

Q5 ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [44]:
df.groupby(['categoryId', df.trending_date2.dt.day_name()], as_index=False).size()

     categoryId trending_date2  size
0             1         Friday   243
1             1         Monday   263
2             1       Saturday   255
3             1         Sunday   274
4             1       Thursday   246
..          ...            ...   ...
100          29       Saturday    10
101          29         Sunday     9
102          29       Thursday    13
103          29        Tuesday    11
104          29      Wednesday    12

[105 rows x 3 columns]

In [45]:
df.groupby(['categoryId', df.trending_date2.dt.day_name()]).size()

categoryId  trending_date2
1           Friday            243
            Monday            263
            Saturday          255
            Sunday            274
            Thursday          246
                             ...
29          Saturday           10
            Sunday              9
            Thursday           13
            Tuesday            11
            Wednesday          12
Length: 105, dtype: int64

In [92]:

df.groupby(['categoryId',df.trending_date2.dt.day_name()],as_index=False).size().pivot(index='categoryId', columns='trending_date2')

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

Q6 ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_countê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [107]:
df['ratio']=(df.comment_count/df.view_count)
df.loc[(df.view_count!=0)&(df.ratio>0)].title.value_counts()

TypeError: IndexOpsMixin.value_counts() got an unexpected keyword argument 'by'

In [5]:
df['ratio']=(df.comment_count/df.view_count)
df.loc[(df.view_count!=0) & (df.ratio>0)].sort_values(by='ratio', ascending=False).iloc[0].title

'60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)'

In [6]:
df['ratio']=(df.comment_count/df.view_count)
df.loc[(df.view_count!=0) & (df.ratio>0)].sort_values(by='ratio', ascending=True).iloc[0].title

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

In [7]:
df['ratio2']=(df.dislikes/df.likes)
df.loc[(df.dislikes!=0)&(df.likes!=0)].sort_values(by='ratio2').iloc[0].title

'[ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€ë“í•œ NCT 127 ë„ì˜&ì •ìš°ì˜ ì¤Œí„°ë·°'

In [8]:
print(df.loc[df.channelId==df.channelId.value_counts().index[0]].channelTitle.unique())

['ì§¤íˆ°']

In [9]:
(df[['title','channelId']].value_counts()>=20)

title                                                           channelId
ì»µë¼ë©´ ë¨¹ì„ ë•Œ ì ˆëŒ€ ì¼ì–´ë‚ ë¦¬ ì—†ëŠ” ìƒí™©ë“¤ ã…‹ã…‹ã…‹                                     UCmzMtXrJgfCqA0rfhz8_P4A     True
ëŒ€í•œë¯¼êµ­ VS íˆ¬ë¥´í¬ë©”ë‹ˆìŠ¤íƒ„ : FIFA ì¹´íƒ€ë¥´ ì›”ë“œì»µ 2ì°¨ ì˜ˆì„  í•˜ì´ë¼ì´íŠ¸ - 2021.06.05         UCpjOmwiy88a9EV3Rv8ukJgw     True
ê·¹ê³¼ ê·¹ì„ ì‚´ê³  ìˆëŠ” ì¸ë„ì˜ ê°‘ë¶€ì™€ ë¹ˆê³¤ì¸µë“¤!                                       UCi9Sl8GnFdYoqEVXnojBPJw     True
2ì£¼ë”ë†€ë¦´ì˜ˆì •                                                         UCaKod3X1Tn4c7Ci0iUKcvzQ     True
ëŒ€ë°•... ë©§ë¼ì§€ë¥¼ ì•„ë“¤ë¡œ ì‚¼ì€ í• ì•„ë²„ì§€ï½œKBS ì£¼ì£¼í´ëŸ½ 050410 ë°©ì†¡                       UCAhKKbDO9-ymWZ_7iAFLBQQ     True
                                                                                            ...
ì²œì¬ ì¹œêµ¬ í™©ë´‰í™© [ì´ëª‡ëª… ìŠ¤í† ë¦¬2]                                            UCRuSxVu4iqTK5kCh90ntAgA    False
ë‹´ë°°ì¶© [ë³‘ë§›ë”ë¹™/ì›ƒê¸´ì˜ìƒ]                                                 UCUK4YjvUvHrFQwTFXwkUIng    False
Official Trailer | The Falcon and The Winter Soldier | Disney+  UCvC4D8onUfXzvjTOM-dBfEA    False
[ì›”ë“œì»µìµœì¢…ì˜ˆì„ ] ì˜¤ë§Œ VS ë² íŠ¸ë‚¨ 4ì°¨ì „ H/Lã…£AFC ì•„ì‹œì•„ì§€ì—­ ì›”ë“œì»µ ìµœì¢…ì˜ˆì„                   UCtybqqaTj6Nx74Azdz1KrsA    False
ê¹ë¶€ë¼ë¦¬ëŠ” ë‹ˆêº¼ ë‚´êº¼ê°€ ì—†ëŠ”ê±°ì•¼                                               UCu9BCtGIEr73LXZsKmoujKw    False
Length: 7867, dtype: bool