In [ ]:
import pandas as pd

In [18]:
Url='https://raw.githubusercontent.com/Datamanim/pandas/main/seoul_pm.csv'
df=pd.read_csv(Url)
type(df)

pandas.core.frame.DataFrame

In [ ]:
def fix_date(x):
    import datetime

    date=x.split(':')[0]
    hour=x.split(':')[1]

    if hour=='24':
        hour='00:00:00'
        final_date=pd.to_datetime(date+" "+hour) +datetime.timedelta(days=1)
    else:
        hour=hour+':00:00'
        final_date=pd.to_datetime(date+" "+hour)

    return final_date

df['(년-월-일:시)']=df['(년-월-일:시)'].apply(fix_date)

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df['dayName']=df['(년-월-일:시)'].dt.day_name()
df.dayName.head()

In [ ]:
df.head()

In [ ]:
df.PM10등급.unique()

In [ ]:
df.groupby(['dayName', 'PM10등급'], as_index=False).size()

In [ ]:
len(df['(년-월-일:시)'].diff().unique())==2

In [ ]:
df['(년-월-일:시)'].diff().unique()

In [ ]:
df.head()

In [19]:
def fixtime(x):
    import datetime

    date=x.split(':')[0]
    hour=x.split(':')[1]

    if hour=='24':
        hour='00:00:00'
        finaltime=pd.to_datetime(date+" "+hour)+datetime.timedelta(days=1)
    else:
        hour=hour+':00:00'
        finaltime=pd.to_datetime(date+" "+hour)
    return finaltime

df['(년-월-일:시)']=df['(년-월-일:시)'].apply(fixtime)

In [21]:
df['dayName']=df['(년-월-일:시)'].dt.day_name()
df.dayName

0       Saturday
1       Saturday
2       Saturday
3       Saturday
4       Saturday
          ...
1234    Thursday
1235    Thursday
1236    Thursday
1237    Thursday
1238    Thursday
Name: dayName, Length: 1239, dtype: object

In [22]:
df.head()

,(년-월-일:시),PM10등급,PM10,PM2.5등급,PM2.5,오존등급,오존,이산화질소등급,이산화질소,일산화탄소등급,일산화탄소,아황산가스등급,아황산가스,dayName
0,2021-05-15 15:00:00,보통,47.0,보통,19.0,좋음,0.017,좋음,0.023,좋음,0.4,좋음,0.003,Saturday
1,2021-05-15 14:00:00,보통,43.0,보통,20.0,좋음,0.024,좋음,0.019,좋음,0.3,좋음,0.003,Saturday
2,2021-05-15 13:00:00,보통,34.0,보통,24.0,보통,0.035,좋음,0.017,좋음,0.4,좋음,0.004,Saturday
3,2021-05-15 12:00:00,보통,41.0,보통,27.0,보통,0.037,좋음,0.020,좋음,0.4,좋음,0.004,Saturday
4,2021-05-15 11:00:00,보통,51.0,보통,34.0,보통,0.033,좋음,0.023,좋음,0.4,좋음,0.005,Saturday

In [26]:
df.groupby(['dayName','PM10등급'], as_index=False).size().head()

  dayName PM10등급  size
0  Friday     나쁨    31
1  Friday   매우나쁨    17
2  Friday     보통   120
3  Friday     좋음    21
4  Monday     나쁨     1

In [28]:
df.groupby(['dayName','PM10등급'], as_index=False).size().pivot(index='dayName', columns='PM10등급',values='size').fillna(0)

PM10등급       나쁨  매우나쁨     보통    좋음
dayName
Friday     31.0  17.0  120.0  21.0
Monday      1.0  21.0   83.0  63.0
Saturday   31.0  27.0   71.0  54.0
Sunday      2.0   1.0   67.0  98.0
Thursday   41.0   0.0  144.0   5.0
Tuesday    13.0  10.0   71.0  74.0
Wednesday  26.0   0.0   95.0  46.0

In [36]:
df['(년-월-일:시)'].diff().unique()

array([         'NaT', -3600000000000], dtype='timedelta64[ns]')

In [41]:
df.groupby(df['(년-월-일:시)'].dt.hour).mean().iloc[[10,22],[0]]

C:\Users\user\AppData\Local\Temp\ipykernel_23184\3452553081.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(df['(년-월-일:시)'].dt.hour).mean().iloc[[10,22],[0]]

                PM10
(년-월-일:시)
10         70.384615
22         69.941176

In [42]:
df.set_index('(년-월-일:시)', inplace=True, drop=True)
df.head()

,PM10등급,PM10,PM2.5등급,PM2.5,오존등급,오존,이산화질소등급,이산화질소,일산화탄소등급,일산화탄소,아황산가스등급,아황산가스,dayName
(년-월-일:시),,,,,,,,,,,,,
2021-05-15 15:00:00,보통,47.0,보통,19.0,좋음,0.017,좋음,0.023,좋음,0.4,좋음,0.003,Saturday
2021-05-15 14:00:00,보통,43.0,보통,20.0,좋음,0.024,좋음,0.019,좋음,0.3,좋음,0.003,Saturday
2021-05-15 13:00:00,보통,34.0,보통,24.0,보통,0.035,좋음,0.017,좋음,0.4,좋음,0.004,Saturday
2021-05-15 12:00:00,보통,41.0,보통,27.0,보통,0.037,좋음,0.020,좋음,0.4,좋음,0.004,Saturday
2021-05-15 11:00:00,보통,51.0,보통,34.0,보통,0.033,좋음,0.023,좋음,0.4,좋음,0.005,Saturday

In [46]:
df.resample('W').agg(['min', 'max', 'mean', 'std']).head()

C:\Users\user\AppData\Local\Temp\ipykernel_23184\2997830186.py:1: FutureWarning: ['PM10등급', 'PM2.5등급', '오존등급', '이산화질소등급', '일산화탄소등급', '아황산가스등급', 'dayName'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.resample('W').agg(['min', 'max', 'mean', 'std']).head()

            PM10                               PM2.5                    \
             min    max       mean         std   min    max       mean
(년-월-일:시)
2021-03-28   6.0  160.0  72.747368   43.345462   4.0  113.0  44.705263
2021-04-04   3.0  598.0  97.148810  129.911976   1.0  120.0  23.168675
2021-04-11  17.0  102.0  41.059524   16.325911   7.0   70.0  21.761905
2021-04-18   3.0  367.0  48.180723   43.254468   2.0   38.0  17.066265
2021-04-25  17.0  126.0  55.119048   26.659936   7.0   61.0  26.392857

                          오존         ...     이산화질소           일산화탄소       \
                  std    min    max  ...      mean       std   min  max
(년-월-일:시)                            ...
2021-03-28  29.551928  0.002  0.085  ...  0.044579  0.023722   0.3  1.4
2021-04-04  22.399578  0.003  0.055  ...  0.027929  0.014978   0.3  0.9
2021-04-11  11.479343  0.009  0.070  ...  0.022583  0.009562   0.3  0.7
2021-04-18   7.867952  0.002  0.070  ...  0.023753  0.013553   0.3  0.6
2021-04-25  13.094788  0.006  0.090  ...  0.028571  0.014640   0.3  0.8

                                아황산가스
                mean       std    min    max      mean       std
(년-월-일:시)
2021-03-28  0.611579  0.232408  0.002  0.006  0.003274  0.000961
2021-04-04  0.445833  0.135741  0.002  0.004  0.002732  0.000541
2021-04-11  0.389286  0.087573  0.002  0.004  0.002744  0.000569
2021-04-18  0.386747  0.084954  0.002  0.004  0.002464  0.000579
2021-04-25  0.457143  0.122142  0.001  0.011  0.003631  0.001763

[5 rows x 24 columns]